<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="V" value="A1"/>
    <add key="con1" value="data source=FREYA;initial catalog=gic;integrated security=true"/>
 
  </appSettings>
  <connectionStrings>
    <add name="con" connectionString="data source=FREYA;initial catalog=gic;integrated security=true" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>